<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <strong class="capitalize" *ngIf="folder !== 'Gallery'">{{ folder }}</strong>
    <br>
    <br>
    <ion-button *ngIf="folder === 'Records'" (click)="toggleRecording()">
      {{ recording ? 'Stop Recording' : 'Start Recording' }}
    </ion-button>
  </div>
</ion-content>

  <ion-content *ngIf="folder === 'Gallery'">
    <h3 *ngIf="images.length == 0" class="ion-padding ion-text-center">Choose an image</h3>

    <ion-list>
      <ion-item *ngFor="let file of images; let i = index">
        <ion-thumbnail slot="start">
          <ion-img [src]="file.data"></ion-img>
        </ion-thumbnail>
        <ion-label class="ion-text-wrap"> {{ file.name }} </ion-label>
        <ion-button slot="end" fill="clear" (click)="startUpload(file)">
          <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
        </ion-button>
        <ion-button slot="end" fill="clear" (click)="deleteImage(file)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-content id="container" *ngIf="folder === 'Augmented Reality'">
    <iframe src="/assets/aframe-ar.html"></iframe>
  </ion-content>

<ion-footer *ngIf="folder === 'Gallery'">
	<ion-toolbar color="primary">
		<ion-button fill="clear" expand="full" color="light" (click)="selectImage()">
			<ion-icon slot="start" name="camera"></ion-icon>
			Select Image
		</ion-button>
	</ion-toolbar>
</ion-footer>
