:host {
  display: block;
}

#map {
  height: 100%; // Ensure the map takes the full height
  border: 1px solid var(--ion-color-step-150, #d7d8da); // Optional border for consistency
}

ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));

}
